@model Task7FluentAPI.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderName)
        </dd>
        <dt class="col-sm-2">
            Items Count
        </dt>
        <dd class="col-sm-10">
            @(Model.OrderItem.Select(a=>a.Quanity*a.Item.Price).Sum())
        </dd>
        <dt class="col-sm-2">
            Total Order Price
        </dt>
        <dd class="col-sm-10">
            @(Model.OrderItem.Select(a=>a.Quanity).Sum())
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
